<div class="container">
  <label [for]="fieldModel.field_name + '_id'">{{ fieldModel.label }}</label>
  <input
    type="date"
    [id]="fieldModel.field_name + '_id'"
    [name]="fieldModel.field_name"
    [(ngModel)]="fieldModel.value"
    #input="ngModel"
    [required]="fieldModel.isRequired"
    [ngClass]="{ error: input.invalid && (input.dirty || input.touched) }"
  />
  <ng-container *ngIf="input.invalid && (input.dirty || input.touched)">
    <p class="error" *ngIf="input?.errors?.['required']">
      {{ fieldModel.label }} is required!
    </p>
  </ng-container>
</div>
