<div class="container">
  <label [for]="fieldModel.field_name + '_id'">{{ fieldModel.label }}</label>
  <ng-container *ngFor="let opt of fieldModel.options">
    <p>{{ opt.value }}</p>
    <input
      type="radio"
      [id]="fieldModel.field_name + '_id'"
      [name]="fieldModel.field_name"
      [value]="opt.key"
      [(ngModel)]="fieldModel.value"
      #input="ngModel"
      [required]="fieldModel.isRequired"
      [ngClass]="{ error: input.invalid && (input.dirty || input.touched) }"
      style="margin-right: 1rem"
    />
    <ng-container *ngIf="input.invalid && (input.dirty || input.touched)">
      <p class="error" *ngIf="input?.errors?.['required']">
        {{ fieldModel.label }} is required!
      </p>
    </ng-container>
  </ng-container>
</div>
